html{
height: 10%;

}
body{
height: 10%;
}

.img-normalizada{
   width: 1700px  ;
   right: 2400px;
   
    
   

}
.carousel-caption{
    font-size: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


  


